<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
    <link href="/pdm/css/pdm.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid wrapper">
    <table border="1" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                234
            </td>
            <td>
                456
            </td>

        </tr>
        <tr data-th-each="perm : ${perms}">
            <td data-th-text="${perm.getName() ?:'не задан'}">
                Цех
            </td>
            <td/>
        </tr>
    </table>


</div>


</body>
</html>